body {
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(168, 175, 156);
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
